<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/output.css" />
</head>
<body class="flex flex-col">

  <nav class="flex justify-between items-center p-4 bg-sky-900 text-white mb-6">
    <a class="text-3xl ml-10" href="/">Home</a>

    <div class="flex gap-10">
      <a class="" href="/">Productos</a>
      <a class="" href="/carts/123">Carrito</a> 
    </div>

    <a class="mr-10" href="">Iniciar Sesion</a>
  </nav>

  <main class="min-h-100vh">
    {{{body}}}
  </main>

  <footer class="bg-sky-900 text-white text-center">Mi tienda 2025. Todos los derechos reservados</footer>
</body>
</html>
